# Use SQLITE3 for SQL database manipulation

In this example, we use SQL to set up a table, insert record and finally perform requiery.

In [5]:
import sqlite3
data_person_name = [(7,'Michael', 'Fox'),
                    (8,'Adam', 'Miller'),
                    (17,'Andrew', 'Peck'),
                    (4,'James', 'Shroyer'),
                    (5,'Eric', 'Burger')]

con = sqlite3.connect(":memory:")
c = con.cursor()

c.execute('''CREATE TABLE q1_person_name
             (name_id INTEGER PRIMARY KEY,
              first_name varchar(20) NOT NULL,
              last_name varchar(20) NOT NULL)''')
c.executemany('INSERT INTO q1_person_name(name_id,first_name, last_name) VALUES (?,?,?)', data_person_name)

for row in c.execute('SELECT * FROM q1_person_name'):
    print(row)
    
con.close()

(4, 'James', 'Shroyer')
(5, 'Eric', 'Burger')
(7, 'Michael', 'Fox')
(8, 'Adam', 'Miller')
(17, 'Andrew', 'Peck')